@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body{
 
    background: url('/src/img/nationsbg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Playfair Display', serif;
}
.App {
  text-align: center;
}
.login-form{
  margin-top: 10%;
  color:#fff
}
.whitebg{
  background-color: #fff;
}
.cursor-point{
  cursor: pointer;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.small-logo{
  max-width: 150px !important;
}
.alert-danger {
  color: #fff  !important;
  background-color: #97101c !important;
  border-color: #97101c  !important;
}
.body-content{
  padding: 25px;
}
.collapse-div-container{
  margin-bottom: 2px;
}
.teal-border{
  border-color: #04625D !important;
}

/* navigation */

.teal{
  background-color: #04625D !important;
  border:0px none !important
}
.btn{
  background-color: #04625D !important;
  border:0px none !important
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.margin-top{
  margin-top: 15px;
}
.img-thumbnail{
  border:0px none !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
